# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
env/lib/
env/lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
ENV/

# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
**/*.xcworkspace/xcuserdata
**/*.xcodeproj/project.xcworkspace/xcuserdata
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.dart_tool/

# JS/TS
node_modules/
web/dist/
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea/
.vscode/
*.swp
*.swo
.metadata

# OS
.DS_Store
Thumbs.db
